@if (ViewBag.ErrorMessage != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: "@ViewBag.ErrorMessage"
        });
    </script>
}


@model InmobiliariaApp.Models.Contrato

@{
    ViewData["Title"] = "Insertar Contrato";
}

<h1>Crear Contrato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Insertar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdInquilino" class="control-label">Inquilino</label>
                <select asp-for="IdInquilino" class="form-control" asp-items="ViewBag.Inquilinos">
                    <option value="">Seleccione un inquilino</option>
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdInmueble" class="control-label">Nombre Inmueble</label>
                <select asp-for="IdInmueble" class="form-control" asp-items="ViewBag.Inmuebles">
                    <option value="">Seleccione un inmueble</option>
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha Inicio</label>
                <input asp-for="FechaInicio" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha Fin</label>
                <input asp-for="FechaFin" class="form-control" type="date" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MontoMensual" class="control-label">Monto Mensual</label>
                <input asp-for="MontoMensual" class="form-control" />
                <span asp-validation-for="MontoMensual" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-action="Listar" class="btn btn-secondary">Volver a la Lista</a>
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>
